.pepito{
    background-color: hsl(198, 11%, 43%);
}
.text1{
    color: aliceblue;
    text-justify: 
}

footer{
    text-align: center;
  padding: 127px;
  background-color: rgb(33, 37, 41);
  color: white;
}